.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.active {
  background-color: #D7F1FF;
  color: #09A7FF;
  font-weight: bolder;
}

/* icon 관련 */
.image {
  cursor: pointer;
  position: absolute;
  width: 22.2px;
  height: 18.7px;
  bottom: 15px;
  left: 17px;
  color: #868e96;
}

.file {
  cursor: pointer;
  position: absolute;
  width: 22.2px;
  height: 18.7px;
  bottom: 15px;
  left: 50px;
  color: #868e96;

}


.send {
  cursor: pointer;
  position: absolute;
  width: 22.2px;
  height: 18.7px;
  bottom: 15px;
  right: 17px;
}

.star {
  cursor: pointer;
  position: absolute;
  bottom: 15px;
  right: 101px;
  width: 14px;
  height: 18.7px;
  color: #868e96;
}

.icon-start-edit {
  cursor: pointer;
  position: absolute;
  bottom: 14px;
  right: 55px;
  width: 18px;
  height: 18px;
}

.icon-end-edit {
  cursor: pointer;
  position: absolute;
  bottom: 14px;
  right: 55px;
  width: 20px;
  height: 15px;
}

.icon-delete {
  cursor: pointer;
  position: absolute;
  bottom: 12px;
  right: 19px;
  width: 14px;
  height: 18px;
}

.icon-close {
  position: absolute;
  top: 9px;
  right: 10px;
  cursor: pointer;
}