.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* 배경 CSS */

.bg-blue {
  background-color: #52C1FF;
}

.width-\[30\] {
  width: 30vw;
}

.height-\[50px\] {
  height: 50px
}

/* 정렬 */
.display-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

/* border */
.rounded-\[30px\] {
  border-radius: 30px;
}

/* 폰트 CSS */

/* 간격 */
.pr-\[40px\] {
  padding-right: 40px;
}


/* header 컴포넌트 */
.navbar {
  position: sticky;
  top: 0;
  z-index: 3;
}