body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  font-family: 'Noto Sans KR', sans-serif, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 하이퍼링크 스타일 초기화 */
a {
  text-decoration: none; /* 밑줄 제거 */
  color: inherit; /* 링크 색상 기본 색상으로 설정 */
}

/* 버튼 스타일 초기화 */
button {
  all: unset; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
